@{ 
    ViewBag.Title = "IT Department";
}

<body>
    <div class="row">
        <div class="col-lg-12">Email Id</div>
        <div class="col-lg-12">Role</div>
        <div class="col-lg-12">Phone Number</div>
    </div><br />

    @foreach (EMSUser user in ViewBag.Users)
    {
        <div class="row">
            <div class="col-lg-12">@user.EmailId</div>
            <div class="col-lg-12">@user.Role</div>
            <div class="col-lg-12">@user.PhoneNumber</div>
            @using (Html.BeginForm("ITDepartmentView", "EMS", new { emailId = user.EmailId }, FormMethod.Post))
            {
                <div class="col-lg-12"><input type="submit" value="Remove" class="btn btn-primary" /></div>
            }
        </div><br />
    }
    <br />
    <br />
    @Html.ActionLink("Log out", "Logout", "EMS")
</body>