@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = "Registration Request";
}

<body>
    <div>
        <h1> Registration request submitted successfully for @Context.Session.GetString("first_name"). Please wait for IT Team to confirm your status.
    </div>
</body>
